body {
  font-family: 'Noto Sans JP', sans-serif;
  /*font-family: 'Source Code Pro', monospace;*/
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  color: #000;
}

::selection {
  background: lightgray; 
}

.header {
  margin: 2rem auto;
  padding: 0 3rem;

}

.header-up {
  padding: 1rem;
  align-items: center;
}

.header-up--left {
  align-items: center;
}

.header-name {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.light-switch {
  justify-self: end;
}

.custom-control-input:checked~.custom-control-label::before {
  color:white;
  border-color: lightgoldenrodyellow;
  background-color: rgb(163, 134, 134);
}

.header-down {
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
  background-color: lightgray;
  padding: 3rem 1rem 3rem 1.5rem ;

  border-radius: 1.3rem;
}

.skills {
  margin: 3rem 0;
}

.arrow{
  position: absolute;
  left: 6rem;
  top: .3rem;
}

.arrow-2{
  left: 5.2rem;
}

.arrow-3{
  left: 11.7rem;
}

.arrow-4{
  left: 7rem;
}

.skills-block {
  margin-top: 2rem;
  
}

.skills-icon {
  margin-right: 0.3rem;
  width: 2rem;
}

.panel-group {
  background-color: lightgray;
  padding: 1rem;
  border-radius: 1rem;
}

.skills-name {
  margin: auto 1.5rem auto 0;
}

.progress {
  margin: auto 0;
  width: 15rem;
}

.panel {
  margin: 1.5rem 0;
}

.panel-start{
  position: relative;
}

.buttons{
  margin: 1rem 0;
}

.btn {
  width: 20rem;
  margin: 1.5rem 0;
  color:white;
}

.contact-heading {
  margin: 3rem 0 ;
}

.form {
  margin:0 auto;
}

.contact {
  font-family: 'Source Code Pro', monospace;
  margin: 2rem 0;
}

.sending-btn > *{
  margin: 1.5rem;
}

.modal-dialog{
 max-width: 120rem;
}

.modal-content{
  display: block;
  margin: 3rem auto;
  width: 60rem;
  height: auto;
  background-color: lightgray;
  border-radius: 1.3rem;
}





